EXPO_PUBLIC_SUPABASE_URL=https://zdnktpdtolyhdischulk.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inpkbmt0cGR0b2x5aGRpc2NodWxrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAyOTk5OTYsImV4cCI6MjA5NTg3NTk5Nn0.ewGrLr8L7rOxhlyuNpBVBRiaYjaaTL3f7Xbk_ZrzGVc
EXPO_PUBLIC_API_URL=https://api-police.brsats.com
